:root {
  --layout-size-height-xs: 1.5rem;
  --layout-size-height-sm: 2rem;
  --layout-size-height-md: 2.5rem;
  --layout-size-height-lg: 3rem;
  --layout-size-height-xl: 4rem;
  --layout-size-height-2xl: 5rem;
  --layout-size-height-min: 0px;
  --layout-size-height-max: 999999999px;
  --layout-density-padding-inline-condensed: 0.5rem;
  --layout-density-padding-inline-normal: 1rem;
  --layout-density-padding-inline-min: 0px;
  --layout-density-padding-inline-max: 999999999px;
}
