:root {
  --caption-01-font-size: 0.75rem;
  --caption-01-font-weight: 400;
  --caption-01-line-height: 1.33333;
  --caption-01-letter-spacing: 0.32px;
  --caption-02-font-size: 0.875rem;
  --caption-02-font-weight: 400;
  --caption-02-line-height: 1.28572;
  --caption-02-letter-spacing: 0.32px;
  --label-01-font-size: 0.75rem;
  --label-01-font-weight: 400;
  --label-01-line-height: 1.33333;
  --label-01-letter-spacing: 0.32px;
  --label-02-font-size: 0.875rem;
  --label-02-font-weight: 400;
  --label-02-line-height: 1.28572;
  --label-02-letter-spacing: 0.16px;
  --helper-text-01-font-size: 0.75rem;
  --helper-text-01-line-height: 1.33333;
  --helper-text-01-letter-spacing: 0.32px;
  --helper-text-02-font-size: 0.875rem;
  --helper-text-02-line-height: 1.28572;
  --helper-text-02-letter-spacing: 0.16px;
  --body-short-01-font-size: 0.875rem;
  --body-short-01-font-weight: 400;
  --body-short-01-line-height: 1.28572;
  --body-short-01-letter-spacing: 0.16px;
  --body-long-01-font-size: 0.875rem;
  --body-long-01-font-weight: 400;
  --body-long-01-line-height: 1.42857;
  --body-long-01-letter-spacing: 0.16px;
  --body-short-02-font-size: 1rem;
  --body-short-02-font-weight: 400;
  --body-short-02-line-height: 1.375;
  --body-short-02-letter-spacing: 0;
  --body-long-02-font-size: 1rem;
  --body-long-02-font-weight: 400;
  --body-long-02-line-height: 1.5;
  --body-long-02-letter-spacing: 0;
  --code-01-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --code-01-font-size: 0.75rem;
  --code-01-font-weight: 400;
  --code-01-line-height: 1.33333;
  --code-01-letter-spacing: 0.32px;
  --code-02-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --code-02-font-size: 0.875rem;
  --code-02-font-weight: 400;
  --code-02-line-height: 1.42857;
  --code-02-letter-spacing: 0.32px;
  --heading-01-font-size: 0.875rem;
  --heading-01-font-weight: 600;
  --heading-01-line-height: 1.42857;
  --heading-01-letter-spacing: 0.16px;
  --productive-heading-01-font-size: 0.875rem;
  --productive-heading-01-font-weight: 600;
  --productive-heading-01-line-height: 1.28572;
  --productive-heading-01-letter-spacing: 0.16px;
  --heading-02-font-size: 1rem;
  --heading-02-font-weight: 600;
  --heading-02-line-height: 1.5;
  --heading-02-letter-spacing: 0;
  --productive-heading-02-font-size: 1rem;
  --productive-heading-02-font-weight: 600;
  --productive-heading-02-line-height: 1.375;
  --productive-heading-02-letter-spacing: 0;
  --productive-heading-03-font-size: 1.25rem;
  --productive-heading-03-font-weight: 400;
  --productive-heading-03-line-height: 1.4;
  --productive-heading-03-letter-spacing: 0;
  --productive-heading-04-font-size: 1.75rem;
  --productive-heading-04-font-weight: 400;
  --productive-heading-04-line-height: 1.28572;
  --productive-heading-04-letter-spacing: 0;
  --productive-heading-05-font-size: 2rem;
  --productive-heading-05-font-weight: 400;
  --productive-heading-05-line-height: 1.25;
  --productive-heading-05-letter-spacing: 0;
  --productive-heading-06-font-size: 2.625rem;
  --productive-heading-06-font-weight: 300;
  --productive-heading-06-line-height: 1.199;
  --productive-heading-06-letter-spacing: 0;
  --productive-heading-07-font-size: 3.375rem;
  --productive-heading-07-font-weight: 300;
  --productive-heading-07-line-height: 1.199;
  --productive-heading-07-letter-spacing: 0;
  --expressive-heading-01-font-size: 0.875rem;
  --expressive-heading-01-font-weight: 600;
  --expressive-heading-01-line-height: 1.25;
  --expressive-heading-01-letter-spacing: 0.16px;
  --expressive-heading-02-font-size: 1rem;
  --expressive-heading-02-font-weight: 600;
  --expressive-heading-02-line-height: 1.5;
  --expressive-heading-02-letter-spacing: 0;
  --expressive-heading-03-font-size: 1.25rem;
  --expressive-heading-03-font-weight: 400;
  --expressive-heading-03-line-height: 1.4;
  --expressive-heading-03-letter-spacing: 0;
  --expressive-heading-04-font-size: 1.75rem;
  --expressive-heading-04-font-weight: 400;
  --expressive-heading-04-line-height: 1.28572;
  --expressive-heading-04-letter-spacing: 0;
  --expressive-heading-05-font-size: 2rem;
  --expressive-heading-05-font-weight: 400;
  --expressive-heading-05-line-height: 1.25;
  --expressive-heading-05-letter-spacing: 0;
  --expressive-heading-06-font-size: 2rem;
  --expressive-heading-06-font-weight: 600;
  --expressive-heading-06-line-height: 1.25;
  --expressive-heading-06-letter-spacing: 0;
  --expressive-paragraph-01-font-size: 1.5rem;
  --expressive-paragraph-01-font-weight: 300;
  --expressive-paragraph-01-line-height: 1.334;
  --expressive-paragraph-01-letter-spacing: 0;
  --quotation-01-font-family: "IBM Plex Serif", "Georgia", Times, serif;
  --quotation-01-font-size: 1.25rem;
  --quotation-01-font-weight: 400;
  --quotation-01-line-height: 1.3;
  --quotation-01-letter-spacing: 0;
  --quotation-02-font-family: "IBM Plex Serif", "Georgia", Times, serif;
  --quotation-02-font-size: 2rem;
  --quotation-02-font-weight: 300;
  --quotation-02-line-height: 1.25;
  --quotation-02-letter-spacing: 0;
  --display-01-font-size: 2.625rem;
  --display-01-font-weight: 300;
  --display-01-line-height: 1.19;
  --display-01-letter-spacing: 0;
  --display-02-font-size: 2.625rem;
  --display-02-font-weight: 600;
  --display-02-line-height: 1.19;
  --display-02-letter-spacing: 0;
  --display-03-font-size: 2.625rem;
  --display-03-font-weight: 300;
  --display-03-line-height: 1.19;
  --display-03-letter-spacing: 0;
  --display-04-font-size: 2.625rem;
  --display-04-font-weight: 300;
  --display-04-line-height: 1.19;
  --display-04-letter-spacing: 0;
  --legal-01-font-size: 0.75rem;
  --legal-01-font-weight: 400;
  --legal-01-line-height: 1.33333;
  --legal-01-letter-spacing: 0.32px;
  --legal-02-font-size: 0.875rem;
  --legal-02-font-weight: 400;
  --legal-02-line-height: 1.28572;
  --legal-02-letter-spacing: 0.16px;
  --body-compact-01-font-size: 0.875rem;
  --body-compact-01-font-weight: 400;
  --body-compact-01-line-height: 1.28572;
  --body-compact-01-letter-spacing: 0.16px;
  --body-compact-02-font-size: 1rem;
  --body-compact-02-font-weight: 400;
  --body-compact-02-line-height: 1.375;
  --body-compact-02-letter-spacing: 0;
  --body-01-font-size: 0.875rem;
  --body-01-font-weight: 400;
  --body-01-line-height: 1.42857;
  --body-01-letter-spacing: 0.16px;
  --body-02-font-size: 1rem;
  --body-02-font-weight: 400;
  --body-02-line-height: 1.5;
  --body-02-letter-spacing: 0;
  --heading-compact-01-font-size: 0.875rem;
  --heading-compact-01-font-weight: 600;
  --heading-compact-01-line-height: 1.28572;
  --heading-compact-01-letter-spacing: 0.16px;
  --heading-compact-02-font-size: 1rem;
  --heading-compact-02-font-weight: 600;
  --heading-compact-02-line-height: 1.375;
  --heading-compact-02-letter-spacing: 0;
  --heading-03-font-size: 1.25rem;
  --heading-03-font-weight: 400;
  --heading-03-line-height: 1.4;
  --heading-03-letter-spacing: 0;
  --heading-04-font-size: 1.75rem;
  --heading-04-font-weight: 400;
  --heading-04-line-height: 1.28572;
  --heading-04-letter-spacing: 0;
  --heading-05-font-size: 2rem;
  --heading-05-font-weight: 400;
  --heading-05-line-height: 1.25;
  --heading-05-letter-spacing: 0;
  --heading-06-font-size: 2.625rem;
  --heading-06-font-weight: 300;
  --heading-06-line-height: 1.199;
  --heading-06-letter-spacing: 0;
  --heading-07-font-size: 3.375rem;
  --heading-07-font-weight: 300;
  --heading-07-line-height: 1.199;
  --heading-07-letter-spacing: 0;
  --fluid-heading-03-font-size: 1.25rem;
  --fluid-heading-03-font-weight: 400;
  --fluid-heading-03-line-height: 1.4;
  --fluid-heading-03-letter-spacing: 0;
  --fluid-heading-04-font-size: 1.75rem;
  --fluid-heading-04-font-weight: 400;
  --fluid-heading-04-line-height: 1.28572;
  --fluid-heading-04-letter-spacing: 0;
  --fluid-heading-05-font-size: 2rem;
  --fluid-heading-05-font-weight: 400;
  --fluid-heading-05-line-height: 1.25;
  --fluid-heading-05-letter-spacing: 0;
  --fluid-heading-06-font-size: 2rem;
  --fluid-heading-06-font-weight: 600;
  --fluid-heading-06-line-height: 1.25;
  --fluid-heading-06-letter-spacing: 0;
  --fluid-paragraph-01-font-size: 1.5rem;
  --fluid-paragraph-01-font-weight: 300;
  --fluid-paragraph-01-line-height: 1.334;
  --fluid-paragraph-01-letter-spacing: 0;
  --fluid-quotation-01-font-family: "IBM Plex Serif", "Georgia", Times, serif;
  --fluid-quotation-01-font-size: 1.25rem;
  --fluid-quotation-01-font-weight: 400;
  --fluid-quotation-01-line-height: 1.3;
  --fluid-quotation-01-letter-spacing: 0;
  --fluid-quotation-02-font-family: "IBM Plex Serif", "Georgia", Times, serif;
  --fluid-quotation-02-font-size: 2rem;
  --fluid-quotation-02-font-weight: 300;
  --fluid-quotation-02-line-height: 1.25;
  --fluid-quotation-02-letter-spacing: 0;
  --fluid-display-01-font-size: 2.625rem;
  --fluid-display-01-font-weight: 300;
  --fluid-display-01-line-height: 1.19;
  --fluid-display-01-letter-spacing: 0;
  --fluid-display-02-font-size: 2.625rem;
  --fluid-display-02-font-weight: 600;
  --fluid-display-02-line-height: 1.19;
  --fluid-display-02-letter-spacing: 0;
  --fluid-display-03-font-size: 2.625rem;
  --fluid-display-03-font-weight: 300;
  --fluid-display-03-line-height: 1.19;
  --fluid-display-03-letter-spacing: 0;
  --fluid-display-04-font-size: 2.625rem;
  --fluid-display-04-font-weight: 300;
  --fluid-display-04-line-height: 1.19;
  --fluid-display-04-letter-spacing: 0;
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
  --spacing-08: 2.5rem;
  --spacing-09: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;
  --fluid-spacing-01: 0;
  --fluid-spacing-02: 2vw;
  --fluid-spacing-03: 5vw;
  --fluid-spacing-04: 10vw;
  --layout-01: 1rem;
  --layout-02: 1.5rem;
  --layout-03: 2rem;
  --layout-04: 3rem;
  --layout-05: 4rem;
  --layout-06: 6rem;
  --layout-07: 10rem;
  --container-01: 1.5rem;
  --container-02: 2rem;
  --container-03: 2.5rem;
  --container-04: 3rem;
  --container-05: 4rem;
  --size-xsmall: 1.5rem;
  --size-small: 2rem;
  --size-medium: 2.5rem;
  --size-large: 3rem;
  --size-xlarge: 4rem;
  --size-2XLarge: 5rem;
  --icon-size-01: 1rem;
  --icon-size-02: 1.25rem;
}
